<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <link rel="icon" href="/favicon.ico" />

    <%= include_stylesheets :blueprint, :application, :media => 'all' %>
<!--[if lt IE 8]>
    <%= include_stylesheets :ie, :media => 'all' %>
    <![endif]-->
<%= include_javascripts :mootools, :application %>
    </head>
    <body>
      <div id="container">
        <%= render :partial => "layouts/application/header" %>
<%= render :partial => "layouts/application/menu" %>
        <%= render :partial => "layouts/application/search_bar" %>
<%= render :partial => "layouts/application/contents" %>
        <%= render :partial => "layouts/application/footer" %>
</div>
    </body>
</html>
